.user-modal-popover {
  .ant-popover-inner {
    border-radius: 10px;
    padding: 0;
    box-shadow: var(--default-box-shadow);
  }
}

.user-modal {
  display: flex;
  flex-direction: column;
  width: 270px;
  color: var(--default-font-color-new);
}

.header-account-menu__section {
  border-bottom: 1px solid var(--default-border-color);
  padding-bottom: 8px;
  margin-bottom: 8px;

  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.header-account-menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
  color: var(--default-font-color-new);
  font-size: 16px;
  line-height: 20px;
  padding: 16px;
}

.header-account-menu-item {
  padding: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.header-account-menu-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 8px;
  height: 40px;
  border-radius: 8px;
  color: var(--menu-font-color-new);
  cursor: pointer;

  .icon-menu {
    font-size: 20px;
    margin-right: 8px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: var(--default-icon-color);
  }

  span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
  }

  .icon-arrow {
    font-size: 16px;
    margin-left: 8px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  &:hover {
    background-color: var(--default-hover-background-color);

    .icon-arrow,
    .icon-menu,
    span {
      color: #657ef8;
    }
  }
}

.header-account-menu__section:last-child {
  border: none;
  margin-bottom: 0;
}

// When sidebar is minimized
.user-modal--lower {
  top: 118px;
  left: 8px;
}
