.bg-modal-container {
  // width: 680px !important;
  // min-height: 600px;
  border-radius: 16px;
  overflow: hidden;
}

.account-edit-bg {
  margin-top: 12px;
  position: relative;
  height: 186px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.account-edit-bg-header {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  align-items: center;
  padding-left: 24px;
  display: flex;
  height: 50px;
  justify-content: flex-start;
}

.account-user--wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 36px;
  background-color: var(--primary-white-color);
}

.account-user-avatar-sm {
  position: absolute;
  left: 24px;
  top: -28px;
  width: 56px;
  height: 56px;
}

.account-user-avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid var(--default-border-color);
  vertical-align: top;
  background-color: var(--primary-white-color);
}

.split-line {
  height: 8px;
  background-color: var(--default-body-color);
}

// .account-edit-bg-content {

// }

.bg-switch-tab {
  height: 52px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  user-select: none;
  position: relative;
}

.bg-switch-tab__list {
  height: auto;
  flex: 1;
  width: 0;
  white-space: nowrap;
  overflow-x: auto;
  cursor: pointer;
}

.bg-switch-tab__tag {
  margin-right: 8px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 14px;
  height: auto;
  color: var(--default-dark-color-8);
  background-color: var(--primary-white-color);
  border: 1px solid var(--default-darker-border-color);
  border-radius: 4px;
  font-weight: 700;
  display: inline-block;
  // cursor: pointer;
}

.bg-switch-tab__tag--active {
  color: #657ef8;
  border: 1px solid transparent;
  background-color: var(--button-background-color);
}

.account-bg__list--wrap {
  max-height: 354px;
  overflow-y: scroll;
  padding: 0 8px 0 24px;
}

.account-bg__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.account-bg__item {
  overflow: hidden;
  position: relative;
  margin-bottom: 16px;
  box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  width: 304px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-bg__item--upload {
  background-color: var(--default-body-color);
  border: 2px dashed var(--default-dark-color-45);
  color: var(--default-dark-color-65);
  font-weight: 500;
  box-shadow: none;
}

.account-bg__item--active {
  border-color: #657ef8;
  // width: 292px;
  // height: 72px;
}

.account-bg__item--wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.account-bg__item--bg {
  width: 100%;
  height: 100%;
}

.gif-to-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.gif-to-img__container {
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}

.gif-to-img__container img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
}

.account-bg-delete-btn {
  // width: 28px;
  // height: 28px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.account-bg__item--chosen {
  right: -3px;
  bottom: -3px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.chosen-img-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  overflow: hidden;
}

.btn-disabled {
  cursor: not-allowed;
  background-color: var(--button-font-color-disabled);
  color: var(--default-dark-color-25);

  &:hover {
    background-color: var(--button-font-color-disabled);
    color: var(--default-dark-color-25);
  }
}

.loading-gif-sm {
  width: 56px;
  margin-right: 12px;
}

.account-edit-confirm-btn .account-bg-loader {
  border: 2px solid transparent;
  border-top: 2px solid #657ef8;
  border-right: 2px solid #657ef8;
  margin-right: 8px;
}

.account-edit-confirm-btn:hover .account-bg-loader {
  border-top: 2px solid var(--primary-white-color);
  border-right: 2px solid var(--primary-white-color);
}
