.modal-container {
  border-top: 1px solid var(--default-border-color);
  margin-top: 12px;
  padding: 16px 16px 0;
  overflow: hidden auto;
  max-height: 540px;
  display: flex;
  flex-direction: column;

  .edit-tag__item {
    .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(
        .ant-pagination-size-changer
      ):hover
      .ant-select-selector {
      border-color: var(--button-font-color);
      // box-shadow: none;
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border: 1px solid var(--default-border-color);
    }

    .custom-antd-select {
      color: var(--default-font-color-new);

      * {
        font-size: 14px;
      }

      // .ant-select-selector {
      // }

      // .ant-select-selection-search {
      //   inset-inline-start: 16px;
      // }
    }

    .custom-antd-select--error {
      .ant-select-selector {
        border-color: #ff4d4f !important;
      }
    }

    .custom-antd-tag {
      display: flex;
      align-content: center;
      padding: 4px;
      gap: 3px;
      // font-size: 13px;
      font-weight: 500;
      cursor: pointer;
      color: var(--default-dark-color-45);

      p {
        color: var(--primary-white-color);
      }

      &:hover {
        background-color: var(--button-background-color);
        color: var(--button-font-color);
      }
    }
  }

  .form-item-container {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .tag-color-edit {
    .copyright-settings-title {
      display: flex;
      align-items: center;
      margin-bottom: 0;

      span {
        font-size: 14px;
        color: var(--default-icon-color);
        user-select: none;
      }
    }
  }

  .task-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .copyright-settings-original-radio {
      margin-top: 0;
    }

    .copyright-settings-title {
      margin-bottom: 0;
      height: 21px;
    }
  }

  .ant-picker.custom-date-picker {
    height: 40px;
  }

  // Days In Week
  .diw-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 12px;

    .diw-item {
      display: grid;
      grid-template-columns: 54px 1fr 108px;
      align-items: center;

      .diw-item__name {
        font-size: 14px;
        font-weight: 400;
      }

      .diw-item__time-picker {
        .ant-picker.custom-time-picker {
          width: 100%;
          background-color: var(--default-border-color) !important;
          padding-top: 6px;
          padding-bottom: 6px;
          height: 40px;
        }
      }

      .diw-actions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 6px;

        .action-item {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px;
          cursor: pointer;

          &:hover {
            .action-item__icon {
              color: var(--button-font-color);
            }
            border-radius: 50%;
            background-color: var(--button-background-color);
          }

          .action-item__icon {
            font-size: 18px;
            color: var(--header-icon-color);
          }
        }
      }
    }
  }

  // Priority selector
  .priority-selector {
    display: flex;
    align-items: center;
    position: relative;

    .priority-wrapper {
      cursor: pointer;
      position: relative;
    }

    .comment-card-common-label,
    .pinned-wrapper {
      margin: 0;
    }
  }

  .schedule-bg-item {
    display: block;
    position: relative;
  }

  .icon-select__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.icon-select__wrapper {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid var(--default-border-color);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  img {
    width: 56px;
    height: 56px;
  }
}
