.right-sidebar__wrapper {
  // position: absolute;
  // top: 0px;
  // right: 0px;
  align-self: flex-end;
  height: 100vh;
  overflow: hidden;
  // min-width: 386px;
  // Push it in the right
  // transform: translateX(100%);
  width: 400px;
  transition: width 300ms ease;
  border-left: 1px solid var(--default-darker-border-color);
  background-color: var(--primary-white-color);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.right-sidebar--closed {
  width: 0;
}

.right-sidebar__header {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 12px 0;
  justify-content: space-between;
}

.histories-list__body--sidebar {
  overflow: hidden auto;
  flex: 1;
  min-width: 0;
  height: 100%;
}
